.container {
    text-align: center;
}

.mainForm {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: .5rem .5rem;
}

.mainForm .fieldLabel {
    grid-column: 1;
    text-align: right;
}

.mainForm .fields {
    grid-column: 2;
    text-align: left;
}

.tooltip {
    font-size: x-small;
    font-weight: lighter;
    grid-row: 1;
}

.uploadImg {
    max-height: 50vh;
    max-width: 50vw;
}

.option {
    margin-right: .5rem;
}